/* main project */


body{
    background-color: #dee2e6;
}


.dark{
    background-color: #2a2e31;
    color: white;
}
.dark .section{
    color: black;

}
.dark .section .projects{
    color: white;
}



/* start about section */
.img-fluid{
    border-radius: 5px;
}
/* end about section */
.card-size{
    font-size: larger;
}
.dark h1{
    
    color: gold;
}











.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.skills h2{
    font-weight: bold;
    font-size: 30px;
    color: black;
    margin: 0 0 50px;
    text-align: center;
}
.skills .skill-box{
    background-color: #FFF;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
.skills .skill-box .skill-name{
font-weight: bold;
width: 140px;
text-align: center;
line-height: 25px;
}
.skills .skill-box .skill-progress{
    height: 25px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
}
.skills .skill-box .skill-progress span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #F00;
    transition: all .8s;
}






