.page-header{
    text-align: center;
    margin-top: 70px;
    background-color: gold;
    border-radius: 25px;
    box-shadow: 0px 0px 17px 5px currentColor;
    padding: 9px 0 9px;
    font-family: cursive;
    margin-bottom: 35px;

}



.they-say{
    margin-top: 80px;
    margin-bottom: 80px;
}

.they-say .sayone{
    background-color: #212529;
    font-size: 23px;
    border-radius: 30px;
    padding: 5px 0px 5px 18px;
    color: white;
}
.they-say .saytwo{
    background-color: #212529;
    font-size: 23px;
    border-radius: 30px;
    padding: 5px 0px 5px 18px;
    color: white;
    margin-top: 75px;
}

.Austin, .Lahiri{
    font-weight: bold;
    color: gold;
}
.books-to-home-btn{

font-size: 22px;
text-decoration: none;
margin-left: 25px;

}
.books-coming{
    text-align: center;
    margin-top: 55px;
    background-color: gold;
    border-radius: 25px;
    box-shadow: 0px 0px 17px 5px currentColor;
    padding: 9px 0 9px;
    font-family: cursive;

}
.books-firstlevel{

    text-align: center;
    margin-top: 55px;
    background-color: #6f0404;
    border-radius: 25px;
    box-shadow: 0px 0px 17px 5px currentColor;
    padding: 9px 0 9px;
    font-family: cursive;
    color: white;
    width: fit-content !important;

}
